.InstrumentDetails {
  width: 100%;
  margin: auto;
  margin-bottom: 1em;
  text-align: center;
  background-color: #201d26;
  box-shadow: 0 2px 3px #212121;
  border: 1px solid #6c6c6c;
  padding: 10px;
  box-sizing: border-box;
}

.InstrumentDetails h1, p {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 500px) {
  .InstrumentDetails {
    width: 450px;
  }
}

@media (min-width: 1000px) {
  .InstrumentDetails {
    width: 700px;
  }
}
/* TODO: As of now, this css is just a copy of the InstrumentList css
IF there won't be a need for any specific media alignments between these 
main components, the CSS should be moved up an level to the App.css */

