.InstrumentListActions {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.DropdownContent {
  margin-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  background: #201d26;
  display: flex;
  flex-flow: row;
  margin-top: auto;
  justify-content: space-evenly;
  max-height: 80px;
}

.DropdownContentWrapper {
  display: flex;
  flex-flow: column;
  padding: 10px;
}
.ResetButton {
  background: none;
  border: none;
  cursor: pointer;
  margin: auto;
  display: block;
  text-align: center;
  width: 100%;
  color: inherit;
  font: inherit;

  padding: 0.2em 0.4em;
  line-height: normal;
}