.Modal {
  position: fixed;
  z-index: 500;
  background-color: #292933;
  width: 80%;
  border: 1px solid rgb(99, 99, 99);
  box-shadow: 1px 1px 1px black;
  padding: 16px;
  left: 10%;
  top: 10%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
  border-radius: 10px
}

@media (min-width: 600px) {
  .Modal {
    top: 20%;
    width: 500px;
    left: calc(50% - 250px);
  }
}