.Switch {
  position: relative;
  margin: auto;
  display: inline-block;
  width: 20px;
  height: 40px;
}

.Switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.Slider {
  border-radius: 25px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.Slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .Slider {
  background-color:  #0f2c43;
}

input:focus + .Slider {
  box-shadow: 0 0 1px #0f2c43;
}

input:checked + .Slider:before {
  -webkit-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  transform: translateY(-20px);
}
