.InputElement {
  font-family: inherit;
  font-size: 1em;
  background-color: #201d26;
  color: #d2d2d2;
  width: 43%;
  padding: 8px;
  margin: 10px 2%;
  display: inline-block;
  border: 1px solid #5c5c5c;
  border-radius: 4px;
  box-sizing: border-box;
  -webkit-appearance: none;
  resize: none;
}

.InputElement::placeholder {
  color: #c7c5c5
}

.InputElement.Invalid {
  background-color: #300c0caa;
  border: 1px solid #781515;
}

textarea.InputElement {
  width: 90%;
  height: 100px;
  transition: height 0.2s ease-in 250ms;
}

textarea.InputElement:focus {
  width: 90%;
  height: 200px;
  transition: height 0.2s ease-out;
}

@media (max-width: 600px) {
  .InputElement {
    width: 90%;
  }
}