body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Spartan', sans-serif;
  font-size: 1.1rem;
}

@media (max-width: 600px) {
  body {
    font-size: 0.9rem;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  width: 100%;
  height: 100%;
  background-color: #2d2d3a;
  color: #d2d2d2;
 }