input, select, textarea {
  background-color: #2d2d3a;
  color: #d2d2d2;
  width: 90%;
  padding: 8px;
  margin: 10px;
  display: inline-block;
  border: 1px solid #5c5c5c;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
  -webkit-appearance: none;
  resize: none;
}
