name: Test
on:
  push:
    branches-ignore:
      - master
env:
  REACT_APP_FIREBASE_APIKEY: ${{ secrets.REACT_APP_FIREBASE_APIKEY }}
  REACT_APP_FIREBASE_AUTHDOMAIN: ${{ secrets.REACT_APP_FIREBASE_AUTHDOMAIN }}
  REACT_APP_FIREBASE_DBURL: ${{ secrets.REACT_APP_FIREBASE_DBURL }}
  REACT_APP_FIREBASE_PROJECTID: ${{ secrets.REACT_APP_FIREBASE_PROJECTID }}
  REACT_APP_FIREBASE_STORAGEBUCKET: ${{ secrets.REACT_APP_FIREBASE_STORAGEBUCKET }}
  REACT_APP_FIREBASE_MSGSENDERID: ${{ secrets.REACT_APP_FIREBASE_MSGSENDERID }}
  REACT_APP_FIREBASE_APPID: ${{ secrets.REACT_APP_FIREBASE_APPID }}

jobs:
  component_tests:
    name: Component tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Configure node environment
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Clean install dependencies
        run: npm ci
      - name: Run the component tests
        run: npm test

  e2e_tests:
    name: E2e tests
    env:
      REACT_APP_DB: ${{ secrets.REACT_APP_DB }}
      E2E_TEST_USERNAME: ${{ secrets.E2E_TEST_USERNAME }}
      E2E_TEST_PASSWORD: ${{ secrets.E2E_TEST_PASSWORD }}
      E2E_TEST_UID: ${{ secrets.E2E_TEST_UID }}
      FIREBASE_SC_PRIVATE_KEY: ${{ secrets.FIREBASE_SC_PRIVATE_KEY }}
      FIREBASE_SC_CLIENT_EMAIL: ${{ secrets.FIREBASE_SC_CLIENT_EMAIL }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Configure node environment
        uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Clean install dependencies
        run: npm ci
      - name: Install Playwright dependencies and chromium
        run: npx playwright install --with-deps chromium
      - name: Start the app in dev mode and run the e2e tests
        run: npm run e2e:ci
      - name: Upload test artifacts
        uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: e2e-test-artifacts
          path: e2e/results/
          retention-days: 10
