# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Tests

on: pull_request

jobs:
  e2e_tests:
    name: E2e tests
    env: 
      REACT_APP_DB: ${{ secrets.REACT_APP_DB }}
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Configure node environment
        uses: actions/setup-node@v1
        with:
          node-version: 14
      - name: Clean install dependencies
        run: npm ci
      - name: Start the app in dev mode and run the e2e tests
        run: npm run e2e:ci
